@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins';
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #0089ff;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  width: 40%;
  border-radius: 15px;
  position: fixed;
  box-shadow: 0px 15px 15px -6px rgba(0,0,0,.5);
}

.link {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0.8em;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  color: #b0e1ff;
}

.link p{
  color: #0089ff;
  margin-left: 0.5em;
  padding: 0.3em;
  background-color: white;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 700;
}

.link:hover p {
  color: white;
  background-color: #b0e1ff;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 2px;
  border-radius: 7px;
  height: 2em;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

.title {
  text-align: center;
  color: #0089ff;
  font-weight: 1000;
  font-size: large;
  padding: 0.2em;
  align-self: center;
}

.titleContainer:hover {
  cursor: default;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  margin: 1em;
  margin-right: 0.5em;
}

.icon {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  flex-direction: row;
}

.available {
  margin-top: 3.4em;
  font-weight: 450;
  margin-bottom: 0.2em;
}

.films {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
}

.film {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  margin: 1em;
  width: 30%;
  border-width: 0.2em;
  border-color: #0089ff;
  border-radius: 0.5em;
  border-style: solid;
  justify-content: space-between;
}

.film p {
  text-align: left;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 1em;
  overflow: hidden;
  word-wrap: normal;
  font-size: small;
}

.imageContainer {
  height: 10em;
  width: 6.68em;
  border-radius: 0.5em;
  border-color: #0089ff;
  border-width: 0.2em;
  border-style: solid;
  background-color: #0089ff;
  align-items: center;
  justify-content: center;
}


.imageContainer img {
  display: block;
  height: 10em;
  width: 6.65em;
  border-radius: 0.3em;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dataContainer h1 {
  margin-left: 0.5em;
  margin-top: 0;
  color: #0089ff;
  text-align: left;
  font-size: x-large;
}

.dataContainer p {
  display: flex;
  margin-left: 1.1em;
  flex-direction: row;
  text-align: left;
  margin-top: 0.1em;
  overflow: hidden;
  word-wrap: normal;
}

.tagline {
  font-style: italic;
}

.dataSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnsSub {
  display: flex;
  flex-direction: row;
}

.days {
  color: #0089ff;
  font-weight: 800;
  margin-right: 1em;
}

.btn1 {
  display: flex;
  flex-direction: row;
  background-color: #0089ff;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin: 0.2em;
  height: 3em;
  width: 3em;
  align-items: center;
  justify-content: center;
}

.btn1:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn2 {
  display: flex;
  flex-direction: row;
  background-color: #0089ff;
  color:white;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin: 0.2em;
  height: 3em;
  width: 8em;
  align-items: center;
  justify-content: center;
}

.btn2 p {
  font-weight: 700;
  color: white;
  text-align: center;
  align-self: center;
}

.btn2:hover {
  opacity: 0.8;
  cursor: pointer;
}
